*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #0f172a;
  color: #f8fafc;
  
}
header{
  padding: 20px ;
  border-bottom: 1px solid #eeeeee67;
  box-shadow: 0 10px 40px rgba(0,0,0,1);
}

/* フォーム */
.form{
 width: 600px;
 margin: 40px auto;
 text-align: center;
 border: 1px solid #eeeeee67 ;
 border-radius: 8px;
 padding: 20px;
 box-shadow: 0 30px 40px rgba(0,0,0,1);
}
.form input{
  display: block;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #eeeeee67;
  border-radius: 4px;
  background-color: #0f172a;
  color: #eeeeee67;
  height: 32px;
}
input[type="date"]{
  color: #eeeeee67;
}


.form button{
  background: #27c962;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 40px;
  font-size: 18px;
}
.form button:hover{
  background: #16a34a;
}

/* ログ */
.log{
  width: 600px;
  text-align: center;
  margin: 0 auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th, td{
  text-align: left;
  border-bottom: 1px solid #eeeeee67;
  padding: 4px;
}