* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #f8fafc;

}

header {
  padding: 20px;
  border-bottom: 1px solid #eeeeee67;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 1);
}

/* フォーム */
.form {
  max-width: 600px;
  width: 90%;
  margin: 40px auto;
  text-align: center;
  border: 1px solid #eeeeee67;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 1);
  position: relative;
}

.form input {
  display: block;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #eeeeee67;
  border-radius: 4px;
  background-color: #0f172a;
  color: #eeeeee67;
  height: 32px;
}

input[type="date"] {
  color: #eeeeee67;
}


.add-btn {
  background: #27c962;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.add-btn:hover {
  background: #16a34a;
}
.cancel-btn{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  background: rgb(255, 94, 0);
  border: none;
  border-radius: 50%;
  font-size: 18px;
}
/* ログ */
.log {
  max-width: 600px;
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.section-title {
  color: aqua;
}

.date {
  border-bottom: 1px solid #eeeeee67;
}

table {
  max-width: 600px;
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
}

.form-switch {
  max-width: 600px;
  width: 90%;
  text-align: center;
  margin: 40px auto;
}