<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962315651869-8nbqvss9n8dtd9a81aqq237rsprjcedd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962315651869-8nbqvss9n8dtd9a81aqq237rsprjcedd</string>
	<key>API_KEY</key>
	<string>AIzaSyCz1MkIixF9R8_3djy0pQdt7D0nsIc3oQo</string>
	<key>GCM_SENDER_ID</key>
	<string>962315651869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptaro.traininglog</string>
	<key>PROJECT_ID</key>
	<string>training-log-app-d219c</string>
	<key>STORAGE_BUCKET</key>
	<string>training-log-app-d219c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962315651869:ios:be126bf34b7365e2d6eff4</string>
</dict>
</plist>